<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/029dcd9f-8a5a-4eda-af58-a8a9523342b6/resourceGroups/practicas/providers/Microsoft.Web/sites/cafebit</ResourceId>
    <ResourceGroup>practicas</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cafebit.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>cafebit.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cafebit</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>adrianadv</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAz23Ez6ytCUSgzL2GZ7x4GgAAAAACAAAAAAAQZgAAAAEAACAAAABnIlcYwhW2/PIe/UrBemzc6kzlihwrQQzoMTHSatDXdQAAAAAOgAAAAAIAACAAAABvRvJI8bRAUMrU6QFJCN/oUQ/HRaS9UTP11+tn0aGi6CAAAACKMJeUiw3N4U5oDSKj36OMmSk8D9rNj+1GXhfxPMWEk0AAAADblcXQQpolGpleoD3plQYsJ1luVA+9scvp5Ir2JF5Wd0XtHAseQXKgzV3L7iVW8My/h+WCanX539y7SPtLQmNJ</EncryptedPassword>
    <History>False|2024-09-03T15:23:54.3813282Z||;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>